*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%submit-btn {
  height: 2em;
  width: 5em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #bbb;
  margin: auto auto 0;
}

main {
  width: 18em;
}
#login-div {
  height: 20em;
  background-color: #eee;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .msg {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
    padding: 2px;
    display: none;

    &.failure-msg {
      color: red;
      border: 1px dashed rgb(255, 74, 74);
    }

    &.success-msg {
      color: green;
      border: 1px dashed rgb(16, 207, 16);
    }
  }

  #login-form {
    color: rgb(34, 34, 34);
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    label,
    input {
      display: block;
      font-size: 1.5em;
      width: 100%;
    }

    input {
      margin-bottom: 0.5em;
      outline: none;
      padding: 2px 3px;
    }

    input[type="submit"] {
      @extend %submit-btn;
    }
  }
}

#sending-request {
  min-height: 3em;

  button {
    @extend %submit-btn;
  }
}
